body {
    background-color: #F0F0F0;
}

.version-bucket {
    margin: 20px 12px 0 0;
    background-color: #c1c8d0;
    border-radius: 30px;
    /*max-width:32%;*/
    /*!*float:left;*!*/
}

.version-info-wrapper {
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
}

.version-info-time-and-version {
    background-color: lightgray;
    padding-left: 20px;
    text-align: left;
    line-height: 40px;
    font-weight: 700;
    width: 100%;
}

.committer-version-color {
}

.left-upper-border-radius {
    border-radius: 7px 0 0 0;
}

.right-upper-border-radius {
    border-radius: 0 7px 0 0;
}

.right-lower-border-radius {
    border-radius: 0 0 7px 0;
}

.left-lower-border-radius {
    border-radius: 0 0 0 7px;
}

.inline-table {
    display: inline-table;
}

.version-header-container {

    width: 100%;
}

.version-info {
    width: 10px;
    height: 60px;
    border-radius: 7px 0 0 0;
}

.version-info-title {
    height: 200px;
}

.version-color.complete {
    background: #00e600;
}

.version-color {
    width: 7px;
}

.version-color.init {
    background: orange;
}

.version-color.fail {
    background: red;
}

.version-color.beta {
    background: blue;
}

.middle-align {
}

.version-info-application {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
    text-transform: capitalize;
}

.version-instance {
    margin-top: 10px;
}

.committers {
    max-height: 499px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

.committer-info {
    width: 100px;
    padding-top: 10px;
    vertical-align: middle;
}

.committer-name {
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}

.committer {
    margin: 18px 0 18px 10px;
    display: inline-table;
}

.table-cell {
    display: table-cell;
}

.commit-message-container {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
    padding-top: 10px;
    height: 80px;
}

.commit-message {
}

.committer-image {
    border-radius: 60px;
    height: 60px;
    width: 60px;
    border: black 2px solid;
}