.version-bucket {
    /*max-width:32%;*/
    /*!*float:left;*!*/
}

.version-info-wrapper {
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
}

.version-info-time-and-version {
    background-color: lightgray;
    padding-left: 20px;
    text-align: left;
    line-height: 40px;
    font-weight: 700;
}

.left-upper-border-radius {
    border-radius: 7px 0 0 0;
}

.right-upper-border-radius {
    border-radius: 0 7px 0 0;
}

.right-lower-border-radius {
    border-radius: 0 0 7px 0;
}

.left-lower-border-radius {
    border-radius: 0 0 0 7px;
}

.version-header-container {
    display: inline-table;
    width: 100%;
}

.version-info {
    width: 10px;
    height: 60px;
    border-radius: 7px 0 0 0;
}

.version-info-title {
    height: 200px;
}

.version-color.complete {
    background: #00e600;
}

.version-color {
    width:7px;
}

.version-color.init {
    background: orange;
}

.version-color.fail {
    background: red;
}

.version-color.beta {
    background: blue;
}

.middle-align {
}

.version-info-application {
    font-size: 60px;
    font-weight: 700;
}

.version-instance {
    margin: 10px;
}

.version-instance:nth-child(2) {
    margin-top: 18px;
}

.committers {
    max-height: 499px;
    overflow-y: auto;
    overflow-x: hidden;
}

.committer-info {
    width: 100px;
}

.committer {
    margin: 18px 0 18px 10px;
    display: inline-table;
}

.table-cell {
    display: table-cell;
}

.commit-message {
    text-overflow: ellipsis;
    width: 370px;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    display: block;
    text-align: left;
}

.committer-image {
    border-radius: 60px;
    height: 60px;
    width: 60px;
    border: black 2px solid;
}