.version-bucket {
    /*max-width:32%;*/
    /*!*float:left;*!*/
    border: 1px solid black;
    margin: 8px;
}

.version-info-wrapper {
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
}

.version-info {
    display: inline-table;
    width: 380px;
    height: 120px;
    border-radius: 50px 50px 0 0;
    padding: 10px;
    border: 1px solid black;
}

.version-info-title {
    height: 200px;
}

.version-info.complete {
    background: #00e600;
}

.version-info.init {
    background: orange;
}

.version-info.fail {
    background: red;
}

.version-info.beta {
    background: blue;
}

.middle-align {
}

.version-info-application {
    font-size: 40px;
}

.version-instance {
    margin: 15px;
}

.version-instance:nth-child(2) {
    margin-top: 48px;
}

.committers {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    max-height: 499px;
    overflow-y: auto;
    overflow-x: hidden;
}

.committer-info {
    width: 100px;
}

.committer {
    margin: 18px 0 18px 10px;
    display: inline-table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.commit-message {
    text-overflow: ellipsis;
    width: 370px;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    display: block;
    text-align: left;
}

.committer-image {
    border-radius: 60px;
    height: 60px;
    width: 60px;
    border: black 2px solid;
}